<%- include('../partials/htmltopbody.ejs') %>
<%- include('../partials/htmlbottomdoc.ejs') %>

    <%- include('../partials/nav.ejs') %>
    <h2>This is our Help page</h2>
<%- include('../partials/htmlbottomdoc.ejs') %>
